<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.project.recap.repository.RecapDao">

    <select id="getUser" resultType="String">
        SELECT 'test' AS name
          FROM dual
    </select>

    <select id="getPriorCode" resultType="hashmap" parameterType="String">
        SELECT TCC.code, TCC.code_name AS name
        FROM recap.TBL_COMMON_CODE TCC
                 JOIN recap.TBL_MASTER_CODE TMC ON TCC.prior_code = TMC.common_code AND TMC.common_code = #{commonCode}
    </select>
    <select id="getCommonCode" resultType="hashmap" parameterType="String">
        SELECT code, code_name AS name
          FROM recap.TBL_COMMON_CODE
         WHERE (prior_code = #{commonCode} OR dsc_code = #{commonCode})
           AND use_yn = 'Y'
    </select>

</mapper>


